<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medshelf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="MedShelf"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedShelf">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MedShelf">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MedShelf"
            android:theme="@style/Theme.MedShelf">
        </activity>

    </application>

</manifest>