<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- CAMERA -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- NOTIFICATIONS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- ALARMS -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- FOREGROUND SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <!-- ANDROID 14+ -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
        tools:targetApi="34" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:label="MedShelf"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedShelf">

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.medshelf.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- LOCKSCREEN EMERGENCY SNAPSHOT -->
        <activity
            android:name=".emergency.EmergencySnapshotActivity"
            android:exported="false"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.MedShelf"
            tools:targetApi="o_mr1" />

        <!-- REMINDER RECEIVER -->
        <receiver
            android:name=".reminder.ReminderNotificationReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <!-- REMINDER SERVICE -->
        <service
            android:name=".reminder.ReminderAlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            tools:targetApi="34" />

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MedShelf">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MAIN APP -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MedShelf" />

    </application>

</manifest>